@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Bienvenidos al Dentista </h1>

    <blockquote class="blockquote text-center">
        <p class="mb-0">"Cada diente en la cabeza de un hombre, es más valioso que un diamante."</p>
        <footer class="blockquote-footer">Miguel de Cervantes</footer>
    </blockquote>

    <img src="~/favicon/locacion.jpg" width="900" centered="">
    <div class="">
        <h1 class="display-5">¿Quienes somos? </h1>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the
            1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
            recently with desktop publishing software like Aldus PageMaker including versions of
            Lorem Ipsum.
        </p>
    </div>

    <div class="">
        <h1 class="display-5">Contactanos: </h1>
        <p>
            Ubicación: Avenida laplata 1212 CABA <br />
            Horario: lunes a viernes 8 a 12hs y 14 a 19hs <br />
            Telefonos: 12 12323443 <br />
            Corre Electronico: odontologiapp@gmail.com <br />
            WhatsApp: +5411 4567-1234 <br />
        </p>

    </div>
</div>
