@{ ViewData["Title"] = "Autores de la App"; }
<h1>@ViewData["Title"]</h1>

<p>Esta aplicación fue realizada por Nahuel Armesto y Federico Rojas utilizando el modelo MVC en ASP.NetCore 5 junto con Entity Framework con base de datos de SQL.</p>



