@model MvcDentista1.Models.Diente

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Placa Dental</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdPaciente" class="control-label"></label>
                <input asp-for="IdPaciente" class="form-control" />
                <span asp-validation-for="IdPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente1" class="control-label"></label>
                <input asp-for="Diente1" class="form-control" />
                <span asp-validation-for="Diente1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente2" class="control-label"></label>
                <input asp-for="Diente2" class="form-control" />
                <span asp-validation-for="Diente2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente3" class="control-label"></label>
                <input asp-for="Diente3" class="form-control" />
                <span asp-validation-for="Diente3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente4" class="control-label"></label>
                <input asp-for="Diente4" class="form-control" />
                <span asp-validation-for="Diente4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente5" class="control-label"></label>
                <input asp-for="Diente5" class="form-control" />
                <span asp-validation-for="Diente5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente6" class="control-label"></label>
                <input asp-for="Diente6" class="form-control" />
                <span asp-validation-for="Diente6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente7" class="control-label"></label>
                <input asp-for="Diente7" class="form-control" />
                <span asp-validation-for="Diente7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente8" class="control-label"></label>
                <input asp-for="Diente8" class="form-control" />
                <span asp-validation-for="Diente8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente9" class="control-label"></label>
                <input asp-for="Diente9" class="form-control" />
                <span asp-validation-for="Diente9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente10" class="control-label"></label>
                <input asp-for="Diente10" class="form-control" />
                <span asp-validation-for="Diente10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente11" class="control-label"></label>
                <input asp-for="Diente11" class="form-control" />
                <span asp-validation-for="Diente11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente12" class="control-label"></label>
                <input asp-for="Diente12" class="form-control" />
                <span asp-validation-for="Diente12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente13" class="control-label"></label>
                <input asp-for="Diente13" class="form-control" />
                <span asp-validation-for="Diente13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente14" class="control-label"></label>
                <input asp-for="Diente14" class="form-control" />
                <span asp-validation-for="Diente14" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente15" class="control-label"></label>
                <input asp-for="Diente15" class="form-control" />
                <span asp-validation-for="Diente15" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente16" class="control-label"></label>
                <input asp-for="Diente16" class="form-control" />
                <span asp-validation-for="Diente16" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente17" class="control-label"></label>
                <input asp-for="Diente17" class="form-control" />
                <span asp-validation-for="Diente17" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente18" class="control-label"></label>
                <input asp-for="Diente18" class="form-control" />
                <span asp-validation-for="Diente18" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente19" class="control-label"></label>
                <input asp-for="Diente19" class="form-control" />
                <span asp-validation-for="Diente19" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente20" class="control-label"></label>
                <input asp-for="Diente20" class="form-control" />
                <span asp-validation-for="Diente20" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente21" class="control-label"></label>
                <input asp-for="Diente21" class="form-control" />
                <span asp-validation-for="Diente21" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente22" class="control-label"></label>
                <input asp-for="Diente22" class="form-control" />
                <span asp-validation-for="Diente22" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente23" class="control-label"></label>
                <input asp-for="Diente23" class="form-control" />
                <span asp-validation-for="Diente23" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente24" class="control-label"></label>
                <input asp-for="Diente24" class="form-control" />
                <span asp-validation-for="Diente24" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente25" class="control-label"></label>
                <input asp-for="Diente25" class="form-control" />
                <span asp-validation-for="Diente25" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente26" class="control-label"></label>
                <input asp-for="Diente26" class="form-control" />
                <span asp-validation-for="Diente26" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente27" class="control-label"></label>
                <input asp-for="Diente27" class="form-control" />
                <span asp-validation-for="Diente27" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente28" class="control-label"></label>
                <input asp-for="Diente28" class="form-control" />
                <span asp-validation-for="Diente28" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente29" class="control-label"></label>
                <input asp-for="Diente29" class="form-control" />
                <span asp-validation-for="Diente29" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente30" class="control-label"></label>
                <input asp-for="Diente30" class="form-control" />
                <span asp-validation-for="Diente30" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente31" class="control-label"></label>
                <input asp-for="Diente31" class="form-control" />
                <span asp-validation-for="Diente31" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diente32" class="control-label"></label>
                <input asp-for="Diente32" class="form-control" />
                <span asp-validation-for="Diente32" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-controller="Pacientes" asp-action="Index">Devuelta al Inicio</a>
    <a class="btn btn-warning" asp-controller="Dientes" asp-action="Index">Devuelta a las Placas</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
